table{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width: 90%;
    margin: 5%;
    /* padding: 10px; */
}

th{
    height: 70px;
    background-color: rgb(72, 195, 72);
}

td{
    text-align: center;
}

th, td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color: gainsboro;}

.btn-update, .btn-delete{
    margin-right: 20px;
    font-size: 15px;
    height: 40px;
    width: 60px;
}

.btn-update{
    border-radius: 4px;
    background-color: rgb(14, 48, 170);
    color: white;
}

.btn-update:hover{
    background-color: rgb(39, 75, 206);
}

.btn-delete{
    border-radius: 4px;
    background-color: rgb(193, 26, 17);
    color: white;
}

.btn-delete:hover{
    background-color: rgb(216, 50, 42);
}

.td-btn{
    display: flex;
    justify-content: center;
}
