/* Define styles for the table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
}

/* Define styles for table header */
.table-header-group th {
  background-color: #4caf50;
  color: white;
}

/* Define styles for table rows */
.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tr:hover {
  background-color: #ddd;
}

/* Define styles for table action column */
.content-section .action-column button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.content-section .action-column button:hover {
  background-color: #45a049;
}

/* Pagination styles */
.pagination {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

.content-section .pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #4caf50;
  color: #333;
  cursor: pointer;
}

.content-section .pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
